<section ng-controller="HomeController">
  <div class="text-center" ng-if="!authentication.user">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="GHRemote" class="img-responsive text-center" src="modules/core/client/img/brand/octocat.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        A bunch of stuff for your GitHub repositories
      </p>
    </div>
    <div class="row" ng-controller="HeaderController">
      <p>
        <a class="btn btn-primary btn-lg" ng-click="callOauthProvider('/api/auth/github')" href="">Sign In With GitHub</a>
      </p>
    </div>
  </div>
  <div class="well">
    <h2>Webooks</h2>
    <p>
      Couple Webhooks to add to you repository or your organization
      <ul>
        <li>Impersonation</li>
        <li>Deployment</li>
      </ul>
    </p>
  </div>
</section>
