<section ng-controller="HomeController">
  <div class="text-center" ng-if="!authentication.user">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="GHRemote" class="img-responsive text-center" src="modules/core/client/img/brand/octocat.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        A bunch of stuff for your GitHub repositories
      </p>
    </div>
  </div>
  <br>
  <div class="well">
    <h2>Webooks</h2>
    <p>
      Couple Webhooks to add to your repository or your organization
      <ul ng-if="!authentication.user">
        <li>Impersonation</li>
        <li>Deployment</li>
      </ul>
      <form ng-if="authentication.user" class="form-horizontal" novalidate>
        <div class="form-group">
          <label for="webhookSelect" class="col-sm-2 control-label">Webhook</label>
          <div class="col-sm-6">
            <select ng-model="data.webhookSelection" class="form-control" name="webhookSelect" id="webhookSelect" ng-options="option.label for option in webhookList"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="repository">Repository</label>
          <div class="col-sm-6">
            <input type="text" name="repository" ng-model="asyncRepositorySelected" placeholder="Repository"
                uib-typeahead="repository as repository.full_name for repository in getRepositories($viewValue)"
                typeahead-loading="loadingRepositories" typeahead-no-results="noRepositorytResults"
                class="form-control">
            <i ng-show="loadingRepositories" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noRepositorytResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" id="addWebHookToRepo" data-loading-text="Loading..." ng-disabled="noRepositorytResults" class="btn btn-primary form-control"
                    ng-click="addWebhook(asyncRepositorySelected, 'repo')" autocomplete="off">Add Webhook</button>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="organization">Organization</label>
          <div class="col-sm-6">
            <input type="text" ng-model="asyncOrganizationSelected" placeholder="Organization"
                    uib-typeahead="organization as organization.login for organization in getOrganizations($viewValue)"
                    typeahead-loading="loadingOrganizations" typeahead-no-results="noOrganizationResults"
                    class="form-control">
            <i ng-show="loadingOrganizations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noOrganizationResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" id="addWebHookToOrg" data-loading-text="Loading..." ng-disabled="noOrganizationResults" class="btn btn-primary form-control"
            ng-click="addWebhook(asyncOrganizationSelected, 'org')" autocomplete="off">Add Webhook</button>
          </div>
        </div>
      </form>
    </p>
  </div>
  <div ng-show="errorMessage" class="text-danger">
    <strong ng-bind="errorMessage"></strong>
  </div>
  <div ng-show="successMessage" class="text-center text-success">
    <strong ng-bind="successMessage"></strong>
  </div>

</section>
