<section ng-controller="IssuesController" ng-init="find()">
  <div class="page-header">
    <div class="btn-group" data-toggle="buttons">
      <label data-ng-repeat="filter in filters" class="btn" ng-class="{'btn-primary': $index==selectedFilter, 'btn-default': $index!=selectedFilter}" ng-click="selectFilter($index)">
        <input type="radio" value="{{$index}}" ng-model="selectedFilter" ng-value="$index" >{{filter.label}}
      </label>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="issue in issues" ui-sref="issues.view({repositoryName : issue.repository.name, repositoryOwner : issue.repository.owner.login, issueNumber : issue.number})" class="list-group-item">
      <span class="list-group-item-heading">
        <h4>{{issue.title}}
          <button class="btn btn-default glyphicon glyphicon glyphicon-volume-off pull-right" type="submit"></button>
          <button class="btn btn-default glyphicon glyphicon glyphicon-star pull-right" type="submit"></button>
          <button class="btn btn-default glyphicon glyphicon glyphicon-eye-open pull-right" type="submit"></button>
          <span ng-if="issueStatus.created[issue.id]" class=" glyphicon glyphicon-pencil pull-right text-muted" aria-hidden="true">&nbsp;</span>
          <span ng-if="issueStatus.assigned[issue.id]" class=" glyphicon glyphicon-user pull-right text-muted" aria-hidden="true">&nbsp;</span>
          <span ng-if="issueStatus.mentioned[issue.id]" class=" glyphicon glyphicon-bullhorn pull-right text-muted" aria-hidden="true">&nbsp;</span>
        </h4>

      </span>
      <small class="list-group-item-text">
        Posted on <span ng-bind="issue.created_at | date:'mediumDate'"></span>
        in <span ng-bind="issue.repository.full_name"></span>
        by <span ng-bind="issue.user.login"></span>, last updated on
        <span ng-bind="issue.updated_at | date:'mediumDate'"></span>.
        <span ng-if="issue.assignee">
            Assigned to <span ng-bind="issue.assignee.login"></span>
        </span>

      </small>
      <p class="list-group-item-text" ng-bind="issue.content"></p>
    </a>
  </div>  <div class="alert alert-warning text-center" ng-if="issues.$resolved && !issues.length">
    No issues yet, why don't you <a ui-sref="issues.create">create one</a>?
  </div>
</section>
